
<%stylesheet_link_tag "print.css"%>

<p id="notice"><%= notice %></p>


<div class="row offset" align="center">

	<div class="panel panel-default">
		<div class="panel-body">
			<h2><%= @table.name %></h2><hr/>
			<%= link_to "PRINT", '#', onclick: "printpage()" %>
			<% if owner_signed_in? %>
			<%= link_to 'Edit', edit_table_path(@table) %> 
			<% end %>
		</div>
		<%=image_tag src="https://chart.googleapis.com/chart?chs=345x345&cht=qr&chl=#{@qr_url}&choe=UTF-8&chld=L|0"%>
	</div>
</div>










