<p id="notice"><%= notice %></p>
<h2>Restaurants</h2>

<%= link_to 'Add New Restaurant', new_restaurant_path %>
<hr/>


<% @restaurants.each do |r| %>
  
  <h3><%= link_to r.name , r %></h3>
  <%=image_tag r.image.url(:medium) %>
  <p>
    <strong>Description: </strong>
    <br/>
    <%=r.description%>
  </p>
  <p>
    <strong>Address: </strong>
    <br/>
    <%=r.address%>
    <br/>
    <%=r.city + r.zip_code.to_s%>
  </p>
  <p>
    <strong>Tell: </strong>
    <br/>
    <%=number_to_phone(r.tell)%>
  </p>
  <hr/>
<% end %>


