
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
<hr/>

<p id="notice"><%= notice %></p>

<h2>
  <%= @restaurant.name %>
</h2>

  <%= image_tag @restaurant.image_url, size: "200x150"%>


<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @restaurant.city %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @restaurant.zip_code %>
</p>

<p>
  <strong>Tell:</strong>
  <%= @restaurant.tell %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @restaurant.owner_id %>
</p>
<hr>

<h3>Menus</h3>
<ul>
<% @menus.each do |menu|%>
<li><%= link_to menu.title , menu %>
  <ul>
  <% menu.items.each do |item|%>
  <li><%= link_to item.title , item %><li>
  <% end %> 
  <br/><%= link_to "Add Item", new_item_path %>  
  </ul>
</li>

<br/>
<% end %>
<%= link_to "Add Menu", new_menu_path %>
</ul>


