<% if owner_signed_in? %>

<div class="row row-custom">

  <h2><%= @restaurant.name %></h2> 
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <%=image_tag @restaurant.image.url(:medium) %>
        </div>
        <div class="col-md-6">
         <div class="row" align="right" style="margin-right:10px">
          <%= link_to 'Edit', edit_restaurant_path(@restaurant), :method => "get", :class => "link"%>
        </div>
        <table class="table table-bordered">
          <tr>
            <td><strong>Description:   </strong></td>
            <td> <%= @restaurant.description %> </td>
          </tr>
          <tr>
            <td><strong> Address: </strong></td>
            <td> <%= @restaurant.address %></td>
          </tr>
          <tr>
            <td><strong> Telephone No: </strong></td>
            <td> <%= number_to_phone(@restaurant.tell) %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
<hr/>

<div class="row">
  <h2> Menus </h2>
<div align="right"> 
      <%= link_to "Add Menu", new_menu_path(restaurant_id: @restaurant.id), :class => "link" %>
    </div>
</div>

<ul>
  <% @menus.each do |menu|%>
  <div class="row">
    <li><strong><%= link_to menu.title , menu, :class => "link med-text" %></strong></li>

  </div>
  <br/>

  <div>
    <table class="table">
      <tr>
        <th>Title</th>
        <th>Desc</th>
        <th>Image</th>
        <th>Price</th>
        <th>Operations</th>
      </tr>
      <%=render(menu.items)%>
    </table>
    <%= link_to "Add Item", new_item_path(menu_id: menu.id), :class => "link" %>
  </div>
  <% end %>


</ul>


<div class="row">
  <h2> Tables </h2>
  <div align="right"> 
    <%= link_to "Add Table", new_table_path(restaurant_id: @restaurant.id), :class => "link" %>
  </div>
</div>
<ul>
  <div class="row">
    <% @tables.each do |table|%>
    <li><%= link_to table.name , table%> 
    </li>
    <br/>
    <% end %>
  </div>

</ul>
<% end %>