
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
<hr/>

<p id="notice"><%= notice %></p>

<h2>
  <%= @restaurant.name %>
</h2>

<%= image_tag @restaurant.image.url(:medium) %>


<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @restaurant.city %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @restaurant.zip_code %>
</p>

<p>
  <strong>Tell:</strong>
  <%= number_to_phone(@restaurant.tell) %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @restaurant.owner_id %>
</p>
<hr/>

<h3>Menus</h3>
<ul>
<% @menus.each do |menu|%>

<li><strong><%= link_to menu.title , menu %></strong></li>
<br/>
  <div>
    <table >
      <tr>
        <th>
          Title
        </th>
        <th>
          Desc
        </th>
        <th>
          Image
        </th>
        <th>
          Price
        </th>
        <th>
          Operations
        </th>

      </tr>
      <%=render(menu.items)%>
    </table>
  

  <br/>

    <%= link_to "Add Item", new_item_path(menu_id: menu.id) %>

  </div>


<br/>
<% end %>
<%= link_to "Add Menu", new_menu_path(restaurant_id: @restaurant.id) %>
</ul>

<hr/>

<h3>Tables</h3>
<ul>
<% @tables.each do |table|%>
<li><%= link_to table.name , table %>
</li>
<br/>
<% end %>
<%= link_to "Add Table", new_table_path(restaurant_id: @restaurant.id) %>
</ul>



