<% if owner_signed_in? %>

<div class="row row-custom">
  
    <h2><%= @restaurant.name %></h2> 
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <%=image_tag @restaurant.image.url(:medium) %>
          </div>
          <div class="col-md-6">
            <table class="table table-bordered">
              <tr>
                <td><strong>Description:   </strong></td>
                <td> <%= @restaurant.description %> </td>
              </tr>
              <tr>
                <td><strong> Address: </strong></td>
                <td> <%= @restaurant.address %></td>
              </tr>
              <tr>
                <td><strong> Telephone No: </strong></td>
                <td> <%= number_to_phone(@restaurant.tell) %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  
</div>

<% end %>

  