<% cache(cache_key_for_items_row(item)) do %>

<tr >
  <td><%= item.title %></td>
  <td><%= item.description %></td>
  <td><%= image_tag(item.image.url(:medium), class: 'img-rounded', size: "150x100") %></td>
  <td><%= number_to_currency(item.price) %><!--</td>
  <td>-->
    <% if not owner_signed_in?%>
    
    <%= button_to 'Order', line_items_path(item_id: item), remote: true %>
    <% end %>
 <!-- <td><%= if item.menu 
           " " + item.menu.title + " "
        else
            " No Menu "
        end  %></td>-->
  <td><%= link_to ' Show ', item %>    <!--</td>-->
  <% if owner_signed_in? %>
  <!--<td>--><%= link_to ' | Edit | ', edit_item_path(item) %><!--</td>-->
  <!--<td--><%= link_to ' Destroy ', item, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</td>
</tr>
<% end %>
