<p id="notice"><%= notice %></p>

<%= button_to 'Back', items_path, :class => 'btn btn-default', :method => 'get', :style => 'margin-left:20px' %>
<br>
<div class="container">
	<div class="row">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><%= @item.title %></h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<tr>
						<td><strong>Description:</strong></td>
						<td><%= @item.description %></td>
					</tr>
					<tr>
						<td><strong>Image: </strong></td>
						<td><%= image_tag @item.image.url(:medium) %></td>
					</tr>
				</table>
			</div>
		</div>
		
		
	</div>

	<div class="row" align="center">
		<%= button_to 'Edit', edit_item_path(@item), :method => 'get', :class => 'btn btn-default' %>
	</div>
</div>


<!-- <p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Image: </strong>
  <%= image_tag @item.image.url(:medium) %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>
-->



