<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Image: </strong>
  <%= image_tag @item.image.url(:medium) %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<% if owner_signed_in? %>
<%= link_to 'Edit', edit_item_path(@item) %> |
<% end %>
<%= link_to 'Back', items_path %>
