<% if notice %>
<p id="notice"><%= notice %></p> 
<% end %>

<h2> Items currently serving </h2>

<table class = "table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= image_tag(item.image_url, class: 'img-rounded', size: "300x250") %></td>
        <td><%= number_to_currency(item.price) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Add/Remove Items', items_path %>