<!DOCTYPE html>
<html>
<head>
  <title>ScaleTheTab</title>
  <!-- <h1 style="color:#CF5742;margin-left: 15px">ScaletheTAB</h1> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://localhost:3000">ScaleTheTab</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="services.html">Services</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="portfolio-1-col.html">1 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-2-col.html">2 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-3-col.html">3 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-4-col.html">4 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-item.html">Single Portfolio Item</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="blog-home-1.html">Blog Home 1</a>
                            </li>
                            <li>
                                <a href="blog-home-2.html">Blog Home 2</a>
                            </li>
                            <li>
                                <a href="blog-post.html">Blog Post</a>
                            </li>
                        </ul>
                    </li>
                    <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="full-width.html">Full Width Page</a>
                            </li>
                            <li>
                                <a href="sidebar.html">Sidebar Page</a>
                            </li>
                            <li>
                                <a href="faq.html">FAQ</a>
                            </li>
                            <li>
                                <a href="404.html">404</a>
                            </li>
                            <li>
                                <a href="pricing.html">Pricing Table</a>
                            </li>
                        </ul>
                    </li> -->
                    <% if user_signed_in? %>
                    <li><button type="button" class="btn btn-default navbar-btn">Logged in as <strong><%= current_user.email %></strong>.</button></li>
                    <li><button type="button" class="btn btn-default navbar-btn">
                        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                    </li>
                    <% elsif owner_signed_in? %>
                    <li><button type="button" class="btn btn-default navbar-btn">Logged in as <strong><%= current_owner.email %></strong>.</button></li>
                    <li><button type="button" class="btn btn-default navbar-btn">
                        <%= link_to "Logout", destroy_owner_session_path, method: :delete %>
                    </li>
                    <% else %>
                    <li><button type="button" class="btn btn-default navbar-btn"><%= link_to 'User Sign In', new_user_session_path %>
                    </button>
                    </li>
                    <li><button type="button" class="btn btn-default navbar-btn"><%= link_to 'Owner Sign In', new_owner_session_path %>
                    </button>
                    </li>
                    <!--
                    <li><button type="button" class="btn btn-default navbar-btn">User Sign in</button></li>
                    <li><button type="button" class="btn btn-default navbar-btn">Owner Sign in</button>
                    </li>
                    -->
                    <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    
<%= yield %>

</body>
</html>
