<!DOCTYPE html>
<html>
<head>
  <title>ScaleTheTab</title>
  <!-- <h1 style="color:#CF5742;margin-left: 15px">ScaletheTAB</h1> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <nav id = "navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <%= link_to 'SCALETheTAB', root_path, id: 'brand', class: 'navbar-brand' %>
            </div>
            <ul class="nav navbar-nav pull-right">
                <% if user_signed_in? %>
                <li><button type="button" class="btn btn-default navbar-btn">Logged in as <strong><%= current_user.email %></strong>.</button></li>
                <li><button type="button" class="btn btn-default navbar-btn">
                    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                </li>
                <% elsif owner_signed_in? %>
                <li><button type="button" class="btn btn-default navbar-btn">Logged in as <strong><%= current_owner.email %></strong>.</button></li>
                <li><button type="button" class="btn btn-default navbar-btn">
                    <%= link_to "Logout", destroy_owner_session_path, method: :delete %>
                </li>
                <% else %>

                <ul id="SignIn" class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign In <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><%= link_to 'Customer', new_user_session_path %></li>
                            <li role="separator" class="divider"></li>
                            <li><%= link_to 'Restuarant Owner', new_owner_session_path %></li>
                    </ul>
                </li>
            </ul>
                  
            

            <% end %>
        </ul>
    </div>
</nav>

<div class="container">
<%= yield %>
</div>


</body>
</html>
